# Fichier de base de données (ne pas versionner les données en direct)
prospection.db

# Dossier de l'environnement virtuel
prospection_env/

# Fichier des secrets (NE JAMAIS PUBLIER)
.streamlit/secrets.toml

# Dossiers de cache Python
__pycache__/
*.pyc