
# Fichiers de données
*.csv
*.xlsx
*.db

# Fichiers de configuration et de lancement spécifiques à l'environnement
*.bat
*.sh

# Dossiers de cache Python
__pycache__/
.ipynb_checkpoints/

# Fichiers Excel et CSV
Suivi Prospection CPG.xlsx
Suivi Prospection CPGMAJ - Copie.Csv
Suivi Prospection CPGMAJ.csv
Suivi Prospection CPGMAJ.xlsx
comptes_export.csv
contacts_export.csv

# Base de données
prospection.db
